@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0
}

.App {
    text-align: center;
    width: 100%;
    height: 99vh;
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', bold;
}

.chapterbuttons {
    flex-flow: wrap;
    margin: 10px;
    display: flex
}

.chapterbuttons button[id^=cb],
.chapterbuttons button[class^=active-cb] {
    padding: 10px;
    font-family: 'MedievalSharp', bold;
    color:rgba(223, 218, 230, 0.822)
}

.control {
    cursor: pointer;
    align-items: left;
    flex-flow: wrap;
    margin-bottom: auto;
    display: flex;
    position: relative;
    top: 20vh
}

.control:hover .circle-click {
    background: #fff
}

.control .prompt img {
    height: 40vh;
    text-align: left;
    padding: 10px 25px
}

.control .status,
.control .status-talk {
    width: 100vw;
    text-align: left;
    color: #fff;
    z-index: 1;
    padding-left: 50px;
    padding-right: 20px;
    font-family: 'MedievalSharp', bold;
    font-size: 30pt;
    font-weight: 700
}

.control .status .status-text,
.control .status-talk .status-text {
    z-index: 5;
    white-space: normal;
    position: relative
}

.control .circle,
.control .circle-recognising,
.control .circle-speaking,
.control .circle-click {
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 0;
    background-color: #fff;
    border: 0;
    border-radius: 50px;
    position: absolute;
    left: -40px
}

.control .circle-click {
    background-color: #fff;
    border: 0
}

.control .circle-speaking {
    border: 0;
    -webkit-animation: bordering 2s infinite;
    animation: bordering 2s infinite
}

.control .circle-recognising {
    -webkit-animation: bordersize 2s infinite;
    animation: bordersize 2s infinite
}

.select-wrapper {
    color: #fff;
    margin-left: 222px;
    margin-right: 20px;
    position: absolute;
    top: 40vh !important;
}

.select {
    align-items: space-around;
    flex-flow: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex
}

.flex {
    cursor: pointer;
    flex-basis: 15vw;
    margin: .5em;
    padding: 1em
}

.flex:hover {
    background: #e6ddec
}

img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px
}

@-webkit-keyframes glowing {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    to {
        background-position: 0 0
    }
}

@-webkit-keyframes bordering {
    0% {
        box-shadow: 0 0 rgba(223, 218, 230, 0.822)
    }

    50% {
        box-shadow: 0 0 0 8vh rgba(223, 218, 230, 0.822)
    }

    to {
        box-shadow: 0 0 rgba(223, 218, 230, 0.822)
    }
}

@keyframes bordering {
    0% {
        box-shadow: 0 0 rgba(223, 218, 230, 0.822)
    }

    50% {
        box-shadow: 0 0 0 8vh rgba(223, 218, 230, 0.822)
    }

    to {
        box-shadow: 0 0 rgba(223, 218, 230, 0.822)
    }
}

@-webkit-keyframes bordersize {
    0% {
        box-shadow: 0 0 rgba(255, 255, 255, 0.9)
    }

    50% {
        box-shadow: 0 0 0 8vh rgba(255, 255, 255, 0.9)
    }

    to {
        box-shadow: 0 0 rgba(255, 255, 255, 0.9)
    }
}

@keyframes bordersize {
    0% {
        box-shadow: 0 0 rgba(255, 255, 255, 0.9)
    }

    50% {
        box-shadow: 0 0 0 8vh rgba(255, 255, 255, 0.9)
    }

    to {
        box-shadow: 0 0 rgba(255, 255, 255, 0.9)
    }
}

[data-xstate] {
    border: none;
    align-self: stretch;
    justify-self: stretch
}